<div class="loader"></div>
<div class="btn_fixed">
   <p>Topics </p>
   <img src="assets/img/next.png" alt="">
</div>
<header>
   <div style="width: 100%;" class="container-fluid">
      <div class="row">
         <div class="col-lg-2 col-md-4">
            <div id="main">
               <div class="menu-area">
                  <div class="container">
                     <div class="row">
                        <nav class="navbar navbar-light navbar-expand-lg mainmenu">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="fa fa-bars" aria-hidden="true"></span>
                           </button> 
                           <div class="collapse navbar-collapse" id="navbarSupportedContent">
                              <ul class="navbar-nav mr-auto">
                                 <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <button class="openbtn" onclick="openNav()">☰</button> 
                                    </a>
                                    <ul class="dropdown-menu  lft-mnu" aria-labelledby="navbarDropdown">
                                       <li class="dropdown">
                                          <a href="">Viewers</a>
                                       </li>
                                       <li class="dropdown">
                                          <a href="">Presenters</a>
                                       </li>
                                       <li class="dropdown">
                                          <a href="">Help Us Help You</a>
                                       </li>
                                    </ul>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
            <a class="site-logos" href="index.php">
               <img src="assets/img/logo.png" alt="">
               <p>Civil argument shapes the world we live in!</p>
            </a>
         </div>
         <div class="col-lg-3 col-md-5">
            <div class="advanced-search">
               <form action="#">
                  <select class="category-btn" name="type">
                     <option>Videos</option>
                     <option>Videos 1</option>
                  </select>
                  <div class="input-group">
                     <input type="text" placeholder="Type anything here..." name="search">
                     <button type="submit">
                     <i class="fa fa-search"></i>
                     </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-lg-1 col-md-0 work_sec">
            <div class="show three_img">
               <img src="https://stageofproject.com/argued/assets/img/Show.png" alt="">
               <img src="https://stageofproject.com/argued/assets/img/Work.png" alt="">
            </div>
         </div>
         <div class="col-lg-1 col-md-0 work_seced">
            <div class="eyes">
               <img src="assets/img/Ellipsetwo.png" alt="">
            </div>
         </div>
         <div class="col-lg-2 col-md-0 pro_bar">
            <div class="show_user">
               <p>Activity 7%</p>
               <div class="progress">
                  <div class="progress-value"></div>
               </div>
            </div>
         </div>
         <div class="col-lg-1 col-md-2">
            <div class="show mob">
               <img src="assets/img/Requests.png" alt="">
               <img data-toggle="modal" data-target="#myModal" src="assets/img/notification.png" alt="">
            </div>
         </div>
         <div class="col-lg-2 col-md-1 es-hold">
            <div class="show_sell">
               <div class="readable_allowed">
                  <img src="assets/img/Ellipse.png">
                  <h5 style="font-size: 9px;color: #fff;">Welcome back <br> <span style="font-size: 14px;color: #fff;">Esther Howard</span></h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
