<div class="loader"></div>
<div class="home_background">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 col-md-3" style="background: #121212;">
            <div class="navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto ">
                  <li class="dropdown ajaxClass">
                     <ul class="dropdown-menu top scrollbar" id="style-2" aria-labelledby="navbarDropdown" style="overflow-y: Scroll !important; overflow-x: hidden;height: 100vh;display:block;">
                        <div class="force-overflow">
                           <div class="d-flex justify-content-center" *ngIf="loading">
                              <div class="spinner-border" role="status">
                                 <span class="sr-only" id="loading"></span>
                              </div>
                           </div>
                              <li class="dropdown" *ngFor="let pics of catagories; let i = index;" (mouseover) = "getAllsubcategories(pics._id)">
                                 <a class="dropdown-toggle" [id]="pics._id" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="" bis_skin_checked="1">
                                       <img style="width: 100%;" src="{{pics.profilePic}}" class="">
                                       <div class="title_name">
                                          <p>{{pics.name}}</p>
                                       </div>
                                    </div>
                                 </a> 
                                 <ul class="dropdown-menu newclass sub scrollbar" id="style-2" aria-labelledby="catagories._id">
                                    <div class="force-overflow">
                                       <li *ngFor="let items of subcategory">
                                          <img style="width: 100%;" src="{{items.profilePic}}" class="w-100">
                                          <div class="title_namess">
                                             <p>{{items.name}}</p>
                                          </div>
                                       </li>
                                    </div>
                                 </ul>
                             </li>
                         </div>
                      </ul>
                   </li>
                </ul>
             </div>
          </div>
         <div class="col-lg-9 col-md-12" style="background: #212020;">
            <h2 style="color: #fff;" class="mt-2">Latest Videos</h2>
            <div class="row">
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video.png" class="w-100">
               </div>
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video2.png" class="w-100">
               </div>
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video.png" class="w-100">
               </div>
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video2.png" class="w-100">
               </div>
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video.png" class="w-100">
               </div>
               <div class="col-lg-4 mt-4">
                  <img src="assets/img/video.png" class="w-100">
               </div>
            </div>
         </div>
       </div>
    </div>
 </div>
 <div class="main_categary" style="display:none;">    
 </div>
 <div class="sub_categary" style="display:none;">
    <img class="" src="assets/img/video.png" class="w-100">
    <img src="assets/img/video.png" class="w-100">
    <img src="assets/img/video.png" class="w-100">
 </div>